@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(111, 146, 131);
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

footer {
  background-color: rgb(111, 146, 131);
}

h1 {
  color: rgb(240, 220, 202);
  margin-left: 15%;
}

/* li {
  list-style: none;
  justify-self: space-between;
}

nav {
  justify-content: space-between;
}


nav  li {
  cursor: pointer;
  
}*/

nav a:hover {
  text-decoration: none;
  /* background-color: rgb(141, 159, 135); */
}

.navlink {
  /* padding: 0 10px; */
  text-decoration: none;
  color: rgb(240, 220, 202);
} 

ul {
  display: flex-row;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}



.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.navbar {
  display: flex;
  margin: auto;

}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.spacer {
  margin: 0 50px 0 50px;
}