@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #BFC0C0;
  --secondary: #4F5D75;
  --tertiary: #2D3142;
  --light: #FFFFFF;
  --orange: #EF8354;
  --darker: #F0DCCA;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  align-content: flex-end;
}

.container {
  display: flex;
  margin-left: 20px;
  width: auto;
}

.download {
  color: var(--orange);
}

.email {
  font-weight: bold;
}

form {
  width: 75%;
  margin: auto;
  color:#F0DCCA !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  color: var(--tertiary);
  margin-left: 10%;
}

h3 {
  color: var(--tertiary);
}

/* input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 100%;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
} */

/* li {
  list-style-type: disc;
} */

/* .list-headers {
  font-weight: bold;
} */

nav a:hover {
  text-decoration: none;
}

/* .navlink {
  text-decoration: none;
  color: var(--tertiary);
}  */

p {
  color: var(--tertiary);
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

/* ul {
  list-style-type: disc;
  color: var(--tertiary);
} */

.footerLinks {
  margin: 0 auto;
}

.footerUl {
  list-style-type: none;
}

a {
  color: var(--tertiary);
}

/* .repoDemoLink {
  color: var(--secondary);
} */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
  /* object-fit: 'cover'; */
}

.photoContainer {
  height: 200px;
  width: 200px;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.resume {
  background-color: var(--secondary);
  list-style-type: square;
  width: 75%;
  padding: 3%;
}

@media screen and (max-width: 640px) {
  .navbar {
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    font-size: 24px;
  }
  .navlink {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 640.1px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding-top: 10px;
  }
  h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    font-size: 24px;
  }
  .navlink {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
  .navbar {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding-top: 10px;
  }
  h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    font-size: 24px;
  }
  .navlink {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1024.1px) and (max-width: 1280px) {
  .navbar {
    width: 66%;
    margin: auto;
    justify-content: center;
  }
  h1 {
    width: 33%;
    text-align: center;
    margin: auto;
    font-size: 24px;
  }
  .navlink {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1280.1px) and (max-width: 1536px) {
  .navbar {
    width: 50%;
    margin: auto;
    justify-content: center;
  }
  h1 {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 24px;
  }
  .navlink {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1536.1px) {
  .navbar {
    width: 50%;
    margin: auto;
    justify-content: center;
  }
  h1 {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 24px;
  }
  .navlink {
    padding-left: 15px;
    padding-right: 15px;
  }
}